<h2>Register a new security key</h2>
<p>Insert or tap your key now!</p>
<%= form_tag(controller: "two_factor", action: "create") do %>
  <%= hidden_field_tag("response") %>
<% end %>

<script>
// render requests from server into Javascript format
var options = <%= @options.to_json.html_safe %>

function do_register() {
  options.challenge = str2ab(options.challenge);
  for (var i = 0; i < options.excludeCredentials.length; i++) {
    options.excludeCredentials[i].id = str2ab(options.excludeCredentials[i].id);
  }
  options.user.id = str2ab(options.user.id);

  navigator.credentials.create({
    publicKey: options
  }).then((credential) => {
    var r = credential.response;
    var registerResponse = {
      id: credential.id,
      rawId: credential.id,
      type: credential.type,
      response: {
        clientDataJSON: ab2str(r.clientDataJSON),
        attestationObject: ab2str(r.attestationObject)
      }
    };

    form = document.forms[0];
    response = document.querySelector('[name=response]');

    response.value = JSON.stringify(registerResponse);

    form.submit();
  }, (reason) => {
    return alert("Registration error: " + reason);
  });
}

do_register();
</script>
