<h2>Authenticate with your security key</h2>
<p>Insert or tap your security key now!</p>
<%= form_tag(controller: "two_factor", action: "validate") do %>
  <%= hidden_field_tag("response") %>
<% end %>
<script>
// render requests from server into Javascript format
var req = <%= @credential_request_options.to_json.html_safe %>;

function do_sign() {
  req.challenge = str2ab(req.challenge);
  for (var i = 0; i < req.allowCredentials.length; i++) {
    req.allowCredentials[i].id = str2ab(req.allowCredentials[i].id);
  }

  navigator.credentials.get({
    publicKey: req
  }).then((credential) => {
    var r = credential.response;
    var signResponse = {
      id: ab2str(credential.rawId),
      rawId: ab2str(credential.rawId),
      type: "public-key",
      response: {
        clientDataJSON: ab2str(r.clientDataJSON),
        signature: ab2str(r.signature),
        authenticatorData: ab2str(r.authenticatorData)
      }
    };

    form = document.forms[0];
    response = document.querySelector('[name=response]');

    response.value = JSON.stringify(signResponse);

    form.submit();
  }, (reason) => {
    return alert("Authentication error: " + reason);
  });
}

do_sign();
</script>
